In [56]:
import pandas as pd
import numpy as np
import math
import copy
from sklearn.metrics import *
from surprise import Dataset
from surprise.model_selection import cross_validate

<h1> Get Dataset </h1>

In [3]:
data = Dataset.load_builtin('ml-100k')

In [4]:
cd c:/Users/VAIBHAV/.surprise_data/ml-100k

c:\Users\VAIBHAV\.surprise_data\ml-100k

In [5]:
data = pd.read_csv('ml-100k/u.data', sep="\t", header = None, 
            usecols = [0,1,2],
            names = ['user_id', 'movie_id', 'rating'])

print(data.shape)
data.head()

(100000, 3)

   user_id  movie_id  rating
0      196       242       3
1      186       302       3
2       22       377       1
3      244        51       2
4      166       346       1

In [6]:
movies = pd.read_csv('ml-100k/u.item', sep="|", header = None, 
                     usecols = [0,1],
                     names = ['movie_id', 'movie_name'])
print(movies.shape)
movies.head()

(1682, 2)

   movie_id         movie_name
0         1   Toy Story (1995)
1         2   GoldenEye (1995)
2         3  Four Rooms (1995)
3         4  Get Shorty (1995)
4         5     Copycat (1995)

In [68]:
movie_ratings = data.pivot(
    index='user_id',
    columns='movie_id',
    values='rating'
).fillna(0)
# raw_mean = np.nanmean(movie_ratings.values)

# # count number of non-NA values in each row
# row_valid = movie_ratings.count(axis=1)

# # count number of non-NA values in each col
# col_valid = movie_ratings.count(axis=0)

# user_biases = np.nanmean(movie_ratings.values-raw_mean, axis=1)/row_valid
# item_biases = np.nanmean(movie_ratings.values-raw_mean, axis=0)/col_valid

# nr = len(movie_ratings.index)
# nc = len(movie_ratings.columns)
# new_matrix = copy.deepcopy(movie_ratings)
# # new_matrix.fillna(raw_mean + user_biases + item_biases, inplace=True)
# for i in range(nr) :
#     for j in range(nc) :
#         if math.isnan(movie_ratings.iloc[i+1][j+1]) :
#             new_matrix.at[i+1,j+1] = raw_mean 
print(movie_ratings.head())
# print(new_matrix.head())

movie_id  1     2     3     4     5     6     7     8     9     10    ...  \
user_id                                                               ...
1          5.0   3.0   4.0   3.0   3.0   5.0   4.0   1.0   5.0   3.0  ...
2          4.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   2.0  ...
3          0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
4          0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
5          4.0   3.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...

movie_id  1673  1674  1675  1676  1677  1678  1679  1680  1681  1682
user_id
1          0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2          0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
3          0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
4          0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
5          0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0

[5 rows x 1682 columns]

In [8]:
R = movie_ratings.values
print(R)
boolArr = (R[1] != 0)
print(R[1][boolArr])

[[5. 3. 4. ... 0. 0. 0.]
 [4. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [5. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 5. 0. ... 0. 0. 0.]]
[4. 2. 4. 4. 3. 4. 5. 5. 4. 5. 4. 5. 5. 4. 4. 3. 4. 5. 4. 3. 5. 4. 4. 3.
 4. 3. 3. 4. 5. 4. 5. 4. 3. 3. 3. 3. 3. 4. 4. 1. 4. 3. 4. 3. 4. 4. 4. 5.
 4. 4. 3. 4. 3. 3. 1. 4. 5. 3. 5. 1. 1. 5.]

<h1> SVDS </h1>

In [9]:
from scipy.sparse.linalg import svds
U, sigma, Vt = svds(R, k = 50)

In [10]:
sigma = np.diag(sigma)

In [11]:
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt)

In [12]:
#preds_df = pd.DataFrame(all_user_predicted_ratings, columns = movie_ratings.columns)
#preds_df.head()
print(all_user_predicted_ratings)
type(all_user_predicted_ratings)

[[ 6.44838854e+00  2.95045020e+00  1.62598149e+00 ... -4.40875253e-03
   7.97805823e-03  5.36655280e-02]
 [ 2.33427841e+00  1.15585625e-01 -1.01177576e-01 ...  6.23701750e-03
   3.03678476e-02 -2.80431016e-02]
 [ 3.27603425e-01 -2.73722127e-01 -1.43939143e-01 ...  3.08582703e-02
   6.64717634e-03  2.02154921e-03]
 ...
 [ 3.09693646e+00 -4.04433484e-02  5.42197828e-01 ... -2.03503842e-03
  -4.12365264e-03 -1.31629574e-02]
 [ 9.54203280e-01  5.99508248e-01  4.84349206e-01 ...  1.18627050e-02
   1.97773478e-02  2.09692603e-03]
 [ 1.41502259e+00  2.85803399e+00  1.78005861e+00 ... -1.73804392e-02
   1.16284009e-02  4.63633730e-02]]

numpy.ndarray

In [13]:
def recommend_movies(predictions, user_index, movies, org_matrix, num_recommendations=5):
    
    sorted_movies = (-predictions[user_index]).argsort()
    
    boolArr = (org_matrix[user_index] == 0)
    
    unknown_sorted_movies = [x for x in sorted_movies if boolArr[x]]
    
    #print(unknown_sorted_movies)
    
    recommendations = [movies[x] for x in unknown_sorted_movies][:num_recommendations]               

    return recommendations

In [14]:
top_7_movies = recommend_movies(all_user_predicted_ratings, 7, movies.values, R, 7)
top_7_movies

[array([161, 'Top Gun (1986)'], dtype=object),
 array([226, 'Die Hard 2 (1990)'], dtype=object),
 array([265, 'Hunt for Red October, The (1990)'], dtype=object),
 array([230, 'Star Trek IV: The Voyage Home (1986)'], dtype=object),
 array([62, 'Stargate (1994)'], dtype=object),
 array([4, 'Get Shorty (1995)'], dtype=object),
 array([68, 'Crow, The (1994)'], dtype=object)]

In [43]:
from sklearn.metrics import mean_squared_error
mask = (R>0)
mask = mask*1.0
R.astype(float)
print(weights.dtype)
print(R.dtype)
print(all_user_predicted_ratings.dtype)
rmse = mean_squared_error(R, np.multiply(all_user_predicted_ratings, mask), squared=False)
print(rmse)

float64
float64
float64
0.40237612606551304